body {
    background-color: #353534;
}

.container { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    padding-right: 50px;
}

.title {
    color: #cfb796;
}

.score {
    color: #e69c2d;
}

.score-text {
    color: #a78a60;
}

.time-left {
    color: #e69c2d;
}

.time-left-text {
    color: #a78a60;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #e69c2d;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 100vh;
}

.mole {
    background-image: url("images/mole.jpg");
    background-size: cover;
}